<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Two Columns with Six Boxes</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='learn.css') }}"
        />
    </head>
    <body>
        <main>
            <div class="container">
                <section class="features">
                    <div
                        class="feature"
                        style="
                            background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                ),
                                url(../static/assest/image1.webp);
                        "
                    >
                        <a
                            href="https://youtu.be/iCzBVWdNOeE?si=IuoPIEjmcd4BE-MK"
                        >
                            <h2>Investment Basics</h2>
                        </a>
                        <p>
                            Investing is a way to make your money grow over time
                            by putting it into things like stocks, bonds, or
                            real estate. The basic idea is that you use your
                            money to earn more money. For example, when you
                            invest in a company, you’re hoping it will grow, and
                            you’ll earn a profit. It’s important to know that
                            all investments have some risk—sometimes you might
                            lose money. However, spreading your money across
                            different types of investments (called
                            diversification) can help reduce risk. Start small,
                            focus on long-term goals, and remember that patience
                            is key to building wealth through investing.
                        </p>
                    </div>
                    <div
                        class="feature"
                        style="
                            background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                ),
                                url(../static/assest/image2.jpg);
                        "
                    >
                        <a
                            href="https://youtu.be/LLdKcFpHgM8?si=vyl8DF5vlXrChtlJ"
                        >
                            <h2>Personal Finance Management</h2>
                        </a>
                        <p>
                            Personal finance management means taking control of
                            your money to meet your needs and goals. It starts
                            with creating a budget—a simple plan to track your
                            income and expenses. This helps you avoid
                            overspending and save for the future. Saving a
                            little each month builds a safety net for
                            emergencies. Managing debt is also important—try to
                            pay off loans and avoid high-interest credit cards.
                            Set financial goals, like buying a house or saving
                            for retirement, and work towards them step by step.
                            Good money habits, like spending wisely and saving
                            regularly, can help anyone achieve financial
                            security over time.
                        </p>
                    </div>
                    <div
                        class="feature"
                        style="
                            background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                ),
                                url(../static/assest/image3.jpg);
                        "
                    >
                        <a
                            href="https://youtu.be/TmjtziOABmo?si=tJ00X_3uy5DzXKsa"
                        >
                            <h2>Stock Market Fundamentals</h2>
                        </a>
                        <p>
                            The stock market is a place where people buy and
                            sell shares of companies. When you buy a share, you
                            own a small part of that company. If the company
                            does well, the value of your shares may increase,
                            and you can sell them for a profit. However, if the
                            company struggles, the value might decrease. Stocks
                            are bought through brokers, and prices change based
                            on supply, demand, and company performance.
                            Investing in the stock market involves risks, but
                            diversifying your investments and focusing on
                            long-term goals can help reduce risks. It’s a way to
                            grow your money over time.
                        </p>
                    </div>
                    <div
                        class="feature"
                        style="
                            background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                ),
                                url(../static/assest/image4.jpg);
                        "
                    >
                        <a
                            href="https://youtu.be/5cDLo5qbtP8?si=Rj_iMXUh4yqH7VXQ"
                        >
                            <h2>AI & Finance</h2>
                        </a>
                        <p>
                            AI in finance refers to using smart computer systems
                            to help people manage their money better. These
                            systems can analyze lots of financial data to
                            understand trends, predict what might happen in the
                            future, and suggest the best investment options.
                            Think of it like having a personal financial advisor
                            who uses advanced technology to give you advice. AI
                            can also help you set financial goals, assess how
                            much risk you're comfortable with, and provide
                            ongoing recommendations to help grow your wealth. It
                            makes financial decision-making easier, even for
                            those with little knowledge of finance or investing.
                        </p>
                    </div>
                    <div
                        class="feature"
                        style="
                            background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                ),
                                url(../static/assest/image5.jpg);
                        "
                    >
                        <a
                            href="https://youtu.be/_uSSCdQXJRI?si=qtw7ahBdZfHHIsFu"
                        >
                            <h2>Real Time Case Study</h2>
                        </a>
                        <p>
                            A real-time case study for an investor is like a
                            live example that shows how an investment is
                            performing right now. Imagine you’ve invested in a
                            company’s stock. A real-time case study tracks how
                            the stock's value changes over days, weeks, or
                            months, based on things like market trends, news, or
                            company performance. It helps you understand if your
                            investment is growing or losing value and why that’s
                            happening. By looking at real-time data, you can
                            make informed decisions about whether to hold, buy
                            more, or sell your investment to maximize profits
                            or reduce losses.
                        </p>
                    </div>
                    <div
                        class="feature"
                        style="
                            background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                ),
                                url(../static/assest/image6.jpg);
                        "
                    >
                        <a
                            href="https://youtu.be/hZ2QJXRX_GI?si=Xe5jNEYP7dMbchKB"
                        >
                            <h2>Glossary of Financial Terms</h2>
                        </a>
                        <p>
                            Interest: The extra money paid for borrowing money
                            or earned from saving or investing.Stocks: Small
                            ownership shares of a company that can be bought or
                            sold.Assets: Valuable things you own, like property,
                            money, or investments. Liabilities: Debts or
                            financial obligations you owe to others. Dividend: A
                            portion of a company’s profits paid to its
                            shareholders. Portfolio: A collection of all the
                            investments you own, such as stocks,
                            bonds, or real estate.
                        </p>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
