/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border-bottom: 2px solid white;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo img {
    width: 50px; /* Adjust to your logo size */
}

header .logo h3 {
    color: white;
    font-weight: bolder;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: 5rem;
}

header nav ul li a:hover {
    background-color: beige;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url("../static/assest/2MvE.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
    text-align: center;
    font-size: 3rem;
    color: goldenrod;
}

.hero h1 {
    padding-top: 10rem;
}

/* Main Content */
main {
    padding: 40px 20px;
    background-color: #333;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.feature {
    background-color: #fafafa;
    padding: 20px;
    width: 32%;
    height: max-content;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* overflow-y: hidden; */
}

.feature h2 {
    text-align: center;
    margin-bottom: 15px;
    color: goldenrod;
}

.feature p {
    color: white;
    font-size: 14px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #151515;
    color: white;
}

footer p {
    font-size: 14px;
}
